* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.text-decoration-none{
    text-decoration: none;
}
.list-style-none{
  list-style: none;
}

.over-flow-x-auto{
  overflow-x: auto;
  scrollbar-width: none;
}

.edit-post-form{
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: brown;
  left: 0;
  right: 0;
}